
    <div>
        <h2>Nouvelle créature</h2>
            <button class="btn links-btn">
                <a href="/creatures">Retour</a>
            </button>
    </div>

            <%= render "form", creature: @creature %>